@import "keep-react/src/main.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: var(--font-inter);
  }
   
  h1 {
    font-family: var(--font-roboto-mono);
  }
    h3 {
      @apply text-3xl text-center text-gray-900 font-semibold mb-5 pb-5 py-10 relative;
    }
  
    h3::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 2px;
      background: #0ea5e9;
      bottom: 3px;
      left: calc(50% - 60px);
    }
  
    h3::after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #0369a1;
      bottom: 0;
      left: calc(50% - 5px);
    }
  
  }